.feeds{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.Card img{
width: 100%;
border-radius: 5px;
}
.Card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}
.Card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}
.Card p{
    font-size: 14px;
    font-weight: 400;
    color: #555;
}
.loadingMess{
    text-align: center;
    margin-top: 35vh;
    font-size: 30px;
    font-weight: 600;
}
.errormess{
    text-align: center;
    margin-top: 35vh;
    font-size: 30px;
    font-weight: 600;
    color: red;
}